/* This file is for your main application css. */
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300');

img.face {
  height: 150px;
}

header {
  display: flex;
  align-items: flex-end;
  font-family: 'Overpass Mono', monospace;
  border-bottom: solid black 1px;
  justify-content: space-between;
}

ul {
  list-style: none;
}

