div.strip-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%
  align-items: center;
}

div.red {
  background-color: red;
}

div.green {
  background-color: green;
}

div.blue {
  background-color: blue;
}

div.frame-half {
  width: 100%;
}

div.frame-full {
  min-width: 200%;
  overflow: scroll;
}

div.frame-full-shrink {
  width: 100%;
}

div.frame {
  min-height: 30vh;
}

div.frame.frame-half {
  width: 100%;
  min-height: 40vh;
}

@media screen and (min-aspect-ratio: 8/7) {
  div.frame {
  }

  div.frame.frame-half {
    width: 50%;
    min-height: 70vh;
  }

  div.frame-full, div.frame-full-shrink {
    min-width: 100%;
    min-height: 40vh;
  }

}
