div.strip-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%
  align-items: center;
}

.strip-container img {
  object-fit: cover;
}

.strip-container p {
  font-family: 'Overpass Mono', monospace;
  font-size: 2rem;
  font-weight: 700;
  vertical-align: center;
  border: solid 4px black;
  padding-left: 0.5rem;
}

div.frame-half {
  width: 100%;
}

div.frame-full {
  min-width: 300%;
}

div.frame-full-shrink {
  width: 100%;
}

div.frame {
  min-height: 30vh;
}

div.frame.frame-half {
  width: 100%;
  min-height: 40vh;
}

@media screen and (min-aspect-ratio: 8/7) {
  div.frame {
  }

  div.frame.frame-half {
    width: 50%;
    min-height: 70vh;
  }

  div.frame.frame-half p {
    margin-top: 35%
  }

  div.frame-full, div.frame-full-shrink {
    min-width: 100%;
  }

}
